{% include 'top.html' %}
<title>{{title}}</title>
</head>
<body>
  {% include 'nav.html' %}
  <div class="container">
    <p>Rakka as in falling was chosen as her name in the first episode. The Wall's tag system updated her story, probably in the ninth episode, which was revealed in the twelvth episode when the Communicator gave her her new Rakka-as-in-meddling-nut name tag. She noted that in the first episode, her hatching robe smelled of nuts, but it is not clear whether this is the normal smell of the robe or related to her true name.</p>
  </div>
  {% include 'footer.html' %}
    </body>
  </html>