<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Silver</title>
  </head>
  <body>
  <h1>Silver</h1>
  <img src="../static/1570663126377.png">
    {% for author in authors %}
      <h1 class="name">{{author.authorname}}</h1>
      <span class="nationality">{{author.bookname}}</span><br>
      <span class="works">{{ author.review }}</span>
    {% endfor %}
  <div class="footer">
    <span class="tag">© 2024 A ZOZ Brigade Production</span>
  </div>
  </body>
</html>