<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Silver</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <!-- <div>
      <img src="../static/1570663126377.png">
      <h1>Silver</h1>
    </div> -->
    <div class="container">
    {% for author in authors %}
      <div class="flex">
      <span class="name ele">{{author.authorname}}</span>
      <span class="book ele">{{author.bookname}}</span>
      <span class="review ele">{{ author.review }}</span>
      <span class="ele"><a href="/author/{{author['id']}}" type="button" class="btn">Details</a></span>
      </div>
    {% endfor %}
    </div>
    {% include 'footer.html' %}
  </body>
</html>